<app-nav></app-nav>
<button (click)="createUser()">Create user</button>
<p>
  <a href="./assets/files/texto.txt" download>Descargar</a>
</p>
<p>
  <button (click)="downloadPdf()">Descargar PDF</button>
</p>
<p>
  <input type="file" (change)="onUpload($event)">
  <img *ngIf="imgRta" [src]="imgRta">
</p>
<hr />
<app-products></app-products>
<!-- <p><input type="text" [(ngModel)]="imgParent" /></p>
<button (click)="toggleImg()">Toggle Img</button>
<p>{{ showImg}}</p>
<app-img *ngIf="showImg" (loaded)="onLoaded($event)" [img]="imgParent"></app-img>
<hr/> -->

